.timeline {
  position: relative;
  grid-template-columns: 1fr 5rem 1fr;

  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: red;
    left: 50%;
    transform: translateX(-50%);
  } 

  /* position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    left: 1.1rem;
    background-color: white;
  }

  &:nth-child(1) article {
    background-color: $secondary-color;
  } */
}