.font-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.font-subtitle {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.font-text {
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
}